//Color variables
$color-bg: #fff;
$color-bg-dark: #215398;
$color-bg-light: #f5f5f5;
$color-text: #808080;
$color-text--light: #fff;
$color-text--dark: #2d3236;
$color-heading: #2d3236;
$color-heading--light: #fff;
$color-2nd: #ff3859;
//font variables
